[submodule "formulae/regex-smt-benchmarks"]
	path = formulae/regex-smt-benchmarks
	url = https://github.com/cdstanford/regex-smt-benchmarks.git
[submodule "formulae/zaligvinder"]
	path = formulae/zaligvinder
	url = https://github.com/jurajsic/zaligvinder.git
[submodule "formulae/ecma2020-smt-bench"]
	path = formulae/ecma2020-smt-bench
	url = https://github.com/Kumismar/ecma2020-smt-bench.git
